language: python
python:
  - '3.9'

branches:
  only:
    - main

services:
    - postgresql

addons:
  postgresql: '13'
  apt:
      packages:
        - postgresql-13

before_script:
  - python -m venv env
  - source env/bin/activate
  - pip install -r requirements.txt --use-pep517
  - cd toolshare
  - psql -c 'create database toolshare_db;' -U postgres -p 5433
  - python manage.py makemigrations
  - python manage.py migrate

script:
  - pytest