language: python
python:
  - '3.9'

branches:
  only:
    - main

services:
    - postgresql

addons:
  postgresql: '13'
  apt:
      packages:
        - postgresql-13

env:
  global:
    #- DJANGO_SETTINGS_MODULE=toolshare.travis
    - PGPORT=5433

before_install:
  # Use trust instead of peer authentication:
  - >-
    sudo sed -i
    -e '/local.*peer/s/postgres/all/'
    -e 's/peer\|md5/trust/g'
    /etc/postgresql/13/main/pg_hba.conf
  # Restart the PostgreSQL service:
  - sudo service postgresql@13-main restart

before_script:
  - python -m venv env
  - source env/bin/activate
  - pip install -r requirements.txt --use-pep517
  - cd toolshare
  - sudo psql -p 5433 -U postgres -c 'create database toolshare_db;'
  - python manage.py makemigrations
  - python manage.py migrate

script:
  - pytest