language: python
python:
  - '4.1'

branches:
  only:
    - main

before_script:
  - python -m venv env
  - source env/bin/activate
  - pip install -r requirements.txt --use-pep517
  - cd toolshare

env: DJANGO_SETTINGS_MODULE="toolshare.travis"

services:
    - postgresql

script:
  - pytest
