language: python
python:
  - '3.9'

branches:
  only:
    - main

before_script:
  - python -m venv env
  - source env/bin/activate
  - pip install -r requirements.txt --use-pep517
  - cd toolshare

env: 
  - DJANGO_SETTINGS_MODULE="toolshare.travis"
  - secure : SECRET_KEY="django-insecure-lpxfa$ctf^n0+w7qlbo536ojr7ab!x@k_d#wc80vays9$5^jix"

services:
    - postgresql

script:
  - pytest
