{% extends 'authentication/base.html' %}

{% load widget_tweaks %}
{% load jsignature_filters %}

{% block content %}

<style>
    .gradient-custom {
        background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    }
    .jSignature {
        border: 1px solid rgb(51, 51, 51, 0.5) !important;
        max-width: 100%;
    }
    input {
        padding-left: 5px;
        margin: 0 3px 0 3px;
    }
    [value="Reset"] {
        margin-top: 2px;
        border: 1px solid rgb(51, 51, 51, 0.5) !important;
    }
    [value="Reset"]:hover {
        color: white;
        background-color: gray;
    }
    .jsign-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>


<section class="h-100 gradient-custom">
    <div class="container py-5 w-100">
        <div class="row flex-lg-nowrap">
            <div class="col mb-3">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="e-profile">
                            <h1>Contract</h1>
                            <h5>Borrowing Conditions:</h5>
                            <ul>
                                <li>Commit to respecting the equipment</li>
                                <li>Commit to returning the equipment clean and with a full tank</li>
                                <li>Commit to notifying the owner in case of equipment failure during use</li>
                                <li>Commit not to lend/sublet/sell the equipment</li>
                                <li>Commit to being the sole user of the equipment</li>
                                <li>Commit to using the equipment only on a personal construction site</li>
                                <li>Commit to using the equipment only for its intended purpose</li>
                                <li>Commit to respecting deadlines</li>
                                <li>Commit to wearing the necessary safety equipment while using the equipment</li>
                                <li>Commit to reimbursing for equipment damage or loss</li>
                                <li>Commit not to file a complaint in case of accidents caused by human error</li>
                            </ul>
                            <p>In case of non-compliance with these conditions, a penalty or legal action will be applied.</p>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="d-flex flex-column align-items-end">
                                    {% if form.errors %}
                                    {{ form.errors }}
                                    {% endif %}
                                    <p class="me-1">(max : {{ tool.availabalityEnd }})</p>
                                    <p>Hello, I would like to borrow the tool "<a href="{% url 'tool-details' user.id tool.id %}" target="_blank"
                                            style="color: black;">{{ tool.name }}</a>" from {% render_field form.startOfUse name="startOfUse" type="date" %}
                                        to {% render_field form.endOfUse name="endOfUse" type="date" %}.</p>
                                    <p>I, the undersigned: {% render_field form.applicantName name="applicantName" placeholder=user.fullname %}
                                        have {% render_field form.applicantApproval name="applicantApproval" placeholder="Read and approved" %} the terms of borrowing
                                        on {% render_field form.requestDate name="requestDate" type="date" %}
                                        at {% render_field form.applicantPostalAddress name="applicantPostalAddress" placeholder=user.postalAddress %}.
                                    </p>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="d-flex flex-column">
                                        <label class="form-label fw-bold mt-3" for="id_signature">Signature :</label>
                                        {{ formSignature.media }}
                                        {{ formSignature.signature }}
                                    </div>
                                </div>
                                <p class="text-center"><button class="btn btn-outline-primary" type="submit" name="sendContract">Send</button></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}