{% load jsignature_filters %}

<h1>Contract</h1>
<h5>Conditions d'utilisation</h5>
<p>{{ applicantName }}</p>
<p>{{ contractedBlog.name }}</p>
<p>{{ startOfUse }}</p>
<p>{{ endOfUse }}</p>
<p>{{ applicantApproval }}</p>
<p>{{ requestDate }}</p>
<p>{{ applicantPostalAddress }}</p>
<img src="{{ applicantSignature.signature|signature_base64 }}" alt="applicantSignature"/>
<p>{{ supplierName }}</p>
<p>{{ supplierApproval }}</p>
<p>{{ approvalDate }}</p>
<p>{{ supplierPostalAddress }}</p>
<img src="{{ supplierSignature.signature|signature_base64 }}" alt="supplierSignature"/>
