{% extends 'blog/base.html' %}

{% load widget_tweaks %}

{% block content %}

<style>
    [name="toolCard"] {
        transition: transform 0.4s;
    }

    [name="toolCard"]:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
    .gradient-custom-card {
        /* fallback for old browsers */
        background: #F4EDE1;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to bottom, #CED4DA, #F4EDE1);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to bottom, #CED4DA, #F4EDE1, #ffffff)
    }
    .gradient-custom {
        /* fallback for old browsers */
        background: #ffa8a8;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #ffa8a8, #fcff00);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #ffa8a8, #fcff00)
        }
</style>

<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7" name="toolCard">
                <div class="card gradient-custom-card h-100 shadow">
                    <!-- Tool date_created -->
                    <h5 class="text-muted text-end pt-3 pe-4">Date Created : {{ tool.date_created }}</h5>
                    <!-- Tool image -->
                    <img class="card-img-top border-bottom p-3" src="{{ tool.image.url }}" alt="..." style="height: 600px; width: auto;" />
                    <!-- Tool details -->
                    <div class="card-body fs-3 p-4">
                        <div class="text-center">
                            <div class="p-3" style="background-color: #f8f9fa;">
                                <!-- Tool name -->
                                <h1 class="fw-bolder">{{ tool.name }}</h1>
                                <!-- Tool reviews -->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi bi-star-fill"></div>
                                    <div class="bi bi-star-fill"></div>
                                    <div class="bi bi-star-fill"></div>
                                    <div class="bi bi-star-fill"></div>
                                    <div class="bi bi-star-fill"></div>
                                </div>
                            </div>
                            <!-- Tool category -->
                            <h2 class="p-3">Category : <span class="text-muted">{{ tool.category }}</span></h2>
                            <!-- Tool description -->
                            <div class="p-3" style="background-color: #f8f9fa;">
                                <h2 class="d-flex">Description : </h2>
                                {{ tool.description }}
                            </div>
                            <!-- Tool disponibility -->
                            <h3 class="fst-italic mt-3">Availability</h3>
                                {{ tool.availabalityStart }}<br>
                                -----<br>
                                {{ tool.availabalityEnd }}
                                <!-- Tool location -->
                            <h3 class="fst-italic mt-2">Location</h3>
                                {{ tool.location }}    
                        </div>
                        <!-- Tool depost -->
                        {% if tool.deposit == True %}
                        <h4 class="mt-5">He has a deposit</h4>
                        {% else %}
                        <h4 class="mt-5">There is no deposit</h4>
                        {% endif %}
                        <!-- Tool publisher -->
                        <h3 class="mt-3"><span class="fw-bolder">Published by : </span><a class="" href="#" style="text-decoration: none;">
                                {{ tool.author }}</a></h3>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">About</p>
                            <div class="p-4" style="background-color: #f8f9fa;">
                                <p class="font-italic mb-1">{{ user.bio }}</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0">Recent tools</p>
                            <p class="mb-0"><a href="{% url 'personal-tools' user.id %}" class="text-muted">Show all</a>
                            </p>
                        </div>
                        {% if tools|length == 0 %}
                        <div class="row g-2">
                            <div class="col mb-2">
                                <div class="d-flex align-items-center justify-content-center w-100 rounded-3"
                                    style="height: 200px; width: auto; border: gray solid 1px;">
                                    <h3 class="text-muted" style="transform: skewY(-11deg);">Empty</h3>
                                </div>
                            </div>
                            <div class="col mb-2">
                                <div class="d-flex align-items-center justify-content-center w-100 rounded-3"
                                    style="height: 200px; width: auto; border: gray solid 1px;">
                                    <h3 class="text-muted" style="transform: skewY(-11deg);">Empty</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col mb-2">
                                <div class="d-flex align-items-center justify-content-center w-100 rounded-3"
                                    style="height: 200px; width: auto; border: gray solid 1px;">
                                    <h3 class="text-muted" style="transform: skewY(-11deg);">Empty</h3>
                                </div>
                            </div>
                            <div class="col mb-2">
                                <div class="d-flex align-items-center justify-content-center w-100 rounded-3"
                                    style="height: 200px; width: auto; border: gray solid 1px;">
                                    <h3 class="text-muted" style="transform: skewY(-11deg);">Empty</h3>
                                </div>
                            </div>
                        </div>
                        {% elif tools|length == 1 %}
                        <div class="row g-2">
                            {% for tool in tools %}
                            <div class="col-6 mb-2">
                                <img src="{{ tool.image.url }}" alt="{{ tool.id }}" class="w-100 rounded-3"
                                    style="height: 200px; width: auto; border: gray solid 1px;">
                            </div>
                            {% endfor %}
                            <div class="col-6 mb-2">
                                <div class="d-flex align-items-center justify-content-center w-100 rounded-3"
                                    style="height: 200px; width: auto; border: gray solid 1px;">
                                    <h3 class="text-muted" style="transform: skewY(-11deg);">Empty</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-6 mb-2">
                                <div class="d-flex align-items-center justify-content-center w-100 rounded-3"
                                    style="height: 200px; width: auto; border: gray solid 1px;">
                                    <h3 class="text-muted" style="transform: skewY(-11deg);">Empty</h3>
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <div class="d-flex align-items-center justify-content-center w-100 rounded-3"
                                    style="height: 200px; width: auto; border: gray solid 1px;">
                                    <h3 class="text-muted" style="transform: skewY(-11deg);">Empty</h3>
                                </div>
                            </div>
                        </div>
                        {% elif tools|length == 2 %}
                        <div class="row g-2">
                            {% for tool in tools %}
                            <div class="col-6 mb-2">
                                <img src="{{ tool.image.url }}" alt="{{ tool.id }}" class="w-100 rounded-3"
                                    style="height: 200px; width: auto; border: gray solid 1px;">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row g-2">
                            <div class="col-6 mb-2">
                                <div class="d-flex align-items-center justify-content-center w-100 rounded-3"
                                    style="height: 200px; width: auto; border: gray solid 1px;">
                                    <h3 class="text-muted" style="transform: skewY(-11deg);">Empty</h3>
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <div class="d-flex align-items-center justify-content-center w-100 rounded-3"
                                    style="height: 200px; width: auto; border: gray solid 1px;">
                                    <h3 class="text-muted" style="transform: skewY(-11deg);">Empty</h3>
                                </div>
                            </div>
                        </div>
                        {% elif tools|length == 3 %}
                        <div class="row g-2">
                            {% for tool in tools %}
                            <div class="col-6 mb-2">
                                <img src="{{ tool.image.url }}" alt="{{ tool.id }}" class="w-100 rounded-3"
                                    style="height: 200px; width: auto; border: gray solid 1px;">
                            </div>
                            {% endfor %}
                            <div class="col-6 mb-2">
                                <div class="d-flex align-items-center justify-content-center w-100 rounded-3"
                                    style="height: 200px; width: auto; border: gray solid 1px;">
                                    <h3 class="text-muted" style="transform: skewY(-11deg);">Empty</h3>
                                </div>
                            </div>
                        </div>
                        {% elif tools|length >= 4 %}
                        <div class="row g-2">
                            {% for tool in tools %}
                            <div class="col-6 mb-2">
                                <img src="{{ tool.image.url }}" alt="{{ tool.id }}" class="w-100 rounded-3"
                                    style="height: 200px; width: auto; border: gray solid 1px;">
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
