{% extends 'authentication/base.html' %}

{% load widget_tweaks %}

{% block content %}

<style>
    [name="toolCard"] {
        transition: transform 0.4s;
    }

    [name="toolCard"]:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
    .gradient-custom-card {
        /* fallback for old browsers */
        background: #F4EDE1;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to bottom, #CED4DA, #F4EDE1, #CED4DA);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to bottom, #CED4DA, #F4EDE1, #CED4DA)
    }
    .gradient-custom {
        /* fallback for old browsers */
        background: #ffa8a8;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #ffa8a8, rgb(252, 255, 0));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #ffa8a8, #fcff00)
        }
    [name="map"]{
        display: none;
        width: 100%;
        height: 400px;
        margin-top: 25px;
    }
</style>

<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7" name="toolCard">
                <div class="card gradient-custom-card h-100 shadow">
                    <!-- Tool date_created -->
                    <h6 class="text-muted text-end pt-3 pe-4">Date Created : {{ tool.date_created }}</h6>
                    <!-- Tool image -->
                    <img class="card-img-top border-bottom p-3" src="{{ tool.image.url }}" alt="..." style="height: 600px; width: auto;" />
                    <!-- Tool details -->
                    <div class="card-body fs-5 p-4">
                        <div class="text-center">
                            <div class="py-3" style="background-color: #f8f9fa;">
                                <!-- Tool name -->
                                <h4 class="fw-bolder" style="text-transform: capitalize;">{{ tool.name }}</h4>
                            </div>
                            <!-- Tool category -->
                            <h5 class="py-3">Category : <span class="text-muted" style="text-transform: capitalize;">{{ tool.category }}</span></h5>
                            <!-- Tool description -->
                            <div class="p-3" style="background-color: #f8f9fa;">
                                <h5 class="d-flex">Description : </h5>
                                {{ tool.description }}
                            </div>
                            <!-- Tool disponibility -->
                            <div class="py-3">
                                <h5 class="fst-italic pb-1">Availability</h5>
                                    {{ tool.availabalityStart }}<br>
                                    -----<br>
                                    {{ tool.availabalityEnd }}
                            </div>
                            <!-- Tool location -->
                            <div class="py-3" style="background-color: #f8f9fa;" id="location">
                                <h5 class="fst-italic pb-1">Location</h5>
                                    {{ tool.location }}
                            </div>
                            <!-- Google Map API values -->
                            <input type="hidden" value="{{ request.session.data.status }}" id="status">
                            <input type="hidden" value="{{ request.session.data.longName }}" id="longName">
                            <input type="hidden" value="{{ request.session.data.lat }}" id="lat">
                            <input type="hidden" value="{{ request.session.data.lng }}" id="lng">
                            <!-- Tool messages -->
                            {% for message in messages %}
                            {% if 'success' in message.tags %}
                            <div class="d-inline-flex alert alert-success alert-dismissible fade show mt-1 ms-1 p-2 pe-3" role="alert">
                                <strong class="fs-6">{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                    style="position: relative; left: 8px; font-size: small;">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% elif 'info' in message.tags %}
                            <div class="d-inline-flex alert alert-warning alert-dismissible fade show mt-1 ms-1 p-2 pe-3" role="alert">
                                <strong class="fs-6">{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                    style="position: relative; left: 8px; font-size: small;">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% elif 'warning' in message.tags %}
                            <div class="d-inline-flex alert alert-danger alert-dismissible fade show mt-1 ms-1 p-2 pe-3" role="alert">
                                <strong class="fs-6">{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                    style="position: relative; left: 8px; font-size: small;">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <!-- Tool actions -->
                            <div class="card-footer mt-5 border-top-0 bg-transparent">
                                <form method="post" role="form" novalidate>
                                    {% csrf_token %}
                                    <div class="text-center">
                                        {% if tool.author.username != user.username and request.user not in favoriteUsers and tool.onContract == False %}
                                        <div class="d-inline-flex flex-column">
                                            <button class="btn btn-outline-danger fs-5 mb-2" type="submit" name="addTool" value="{{ tool.id }}">Add to your Bag<i
                                                    class="bi bi-heart ms-2"></i>
                                            </button>
                                            <button class="btn btn-outline-primary fs-5 mt-2" type="submit" name="borrowRequest" value="{{ tool.id }}">Do a Borrow Request<i
                                                    class="bi bi-arrow-up-right-circle ms-2"></i>
                                            </button>
                                        </div>
                                        {% elif tool.author.username != user.username and request.user not in favoriteUsers and tool.onContract == True %}
                                        <div class="d-inline-flex flex-column">
                                            <button class="btn btn-outline-danger fs-5 mb-2" type="submit" name="addTool" value="{{ tool.id }}">Add to your Bag<i
                                                    class="bi bi-heart ms-2"></i>
                                            </button>
                                            <div class='mt-3 text-muted fst-italic'>He's on contract</div>
                                        </div>
                                        {% elif request.user in favoriteUsers and tool.onContract == False %}
                                        <div class="d-inline-flex flex-column">
                                            <button class="btn btn-danger fs-5 mb-2" type="submit" name="removeTool" value="{{ tool.id }}">Remove from your Bag<i
                                                    class="bi bi-x-octagon ms-2"></i>
                                            </button>
                                            <button class="btn btn-outline-primary fs-5 mt-2" type="submit" name="borrowRequest" value="{{ tool.id }}">Do a Borrow Request<i
                                                    class="bi bi bi-arrow-up-right-circle ms-2"></i>
                                            </button>
                                        </div>
                                        {% elif request.user in favoriteUsers and tool.onContract == True %}
                                        <div class="d-inline-flex flex-column">
                                            <button class="btn btn-danger fs-5 mb-2" type="submit" name="removeTool" value="{{ tool.id }}">Remove from your Bag<i
                                                    class="bi bi-x-octagon ms-2"></i>
                                            </button>
                                            <div class='mt-3 text-muted fst-italic'>He's on contract</div>
                                        </div>
                                        {% elif tool.onContract == True %}
                                        <div class="d-inline-flex flex-column">
                                            <div class='mt-3 text-muted fst-italic'>He's on contract</div>
                                        </div>
                                        {% elif tool.onContract == False %}
                                        <button class="btn btn-danger mt-2 fs-5" type="submit" name="supprTool" value="{{ tool.id }}">Remove from your<br>Personal
                                            Tools<i class="bi bi-x-octagon ms-2"></i>
                                        </button>
                                        {% endif %}
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Tool deposit -->
                        {% if tool.deposit == True %}
                        <h6 class="mt-5">He has a deposit</h6>
                        {% else %}
                        <h6 class="mt-5">There is no deposit</h6>
                        {% endif %}
                        <!-- Tool publisher -->
                        <h5 class="mt-3"><span class="fw-bolder">Published by : </span><a class="" href="#" style="text-decoration: none;">
                                {{ tool.author }}</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/static/js/mapRequest.js"></script>
<script src="/static/js/alert.js"></script>

{% endblock content %}
