{% extends 'authentication/base.html' %}


{% block content %}

<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #E0DABC;

        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(69.5deg, rgb(1, 179, 201) 2.3%, rgb(40, 48, 68) 97.6%);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(69.5deg, rgb(1, 179, 201) 2.3%, rgb(40, 48, 68) 97.6%);
    }
    body {
        height: 700px;
    }
</style>
<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Me</h1>
        </div>
    </div>
</header>
<!-- about -->

<section class="gradient-custom py-5" style="min-height: 700px;">
    <div class="container">
        <div class="d-flex flex-column flex-md-row">
            <div class="col-12 col-md-8 text-white-50">
                <p>Hello, after a few years studying computer science, I've come to realize my final project : "ToolShare".</p>
                <p>The constraints were to create something community-oriented that would be useful around my home.</p>
                <p>Living in the countryside, I've already been able to take part in a few jobsites requiring specific tools.
                As I don't have a DIY workshop, and professional tool hire is expensive, we asked around the house if any
                friends/neighbors could lend us their equipment.
                Unfortunately, we didn't know in advance whether the person in question had the tool or whether it was available, which
                sometimes worked to our disadvantage and blocked the jobsite for a few days.</p>
                <p>With this platform, users will be able to share or borrow tools.
                By going to "<a href="{% url 'research' user.id %}" class="text-white-50" style="text-decoration: none;">Start Borrows</a>" on the navigation bar, you can see all the tools available; on your "<a href="{% url 'profile' user.id %}" class="text-white-50" style="text-decoration: none;">Profile</a>" you can publish the tools of your choice.</p>
                <p>I hope you enjoy the experience.</p>
                <p>Best regards, Simon.</p>
            </div>
            <div class="col-12 col-md-4 text-center drag-lg-top">
                <div class="shadow-down mb-4">
                    <img src="/static/images/about/author.jpg" alt="author"
                        class="img-fluid w-100 rounded mt-5 mt-md-0" style="max-height: 250px; max-width: 200px;">
                </div>
                <h4 class="text-white-50">POUTOT Simon</h4>
            </div>
        </div>
    </div>
</section>

<!-- /about -->

{% endblock %}