{% extends 'authentication/base.html' %}

{% load widget_tweaks %}

{% block content %}

<style>
    .gradient-custom {
/* fallback for old browsers */
background: #fbc2eb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
}
</style>

<section class="h-100 gradient-custom">
    <div class="container py-5 w-50">
        <div class="row flex-lg-nowrap">
            <div class="col">
                <div class="row">
                    <div class="col mb-3">
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="e-profile">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto mb-3">
                                            <div class="mx-auto" style="width: 140px;">
                                                <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                                                    <img src="{{ user.profilePicture.url }} " alt="Generic placeholder image" class="img-fluid img-thumbnail mt-2 mb-2" style="height: 140px; width: 140px; z-index: 1">
                                                </div>
                                                <div class="d-flex mt-2">
                                                    <form method="post" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        {{ form_picture.profilePicture }}
                                                        <button class="btn btn-primary mt-2" type="submit" name="profilePicture">
                                                            <i class="bi bi-camera-fill me-1"></i>
                                                            <span>Change Profile Picture</span>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                            <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ user.fullname }}</h4>
                                                <div class="text-muted"><small>Last seen {{ user.last_login }}</small></div>
                                            </div>
                                            <div class="text-center text-sm-right">
                                                <div class="text-muted"><small>Joined {{ user.date_joined }}</small></div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a class="active nav-link mt-3">Settings</a></li>
                                    </ul>
                                    <div class="tab-content pt-3">
                                        <div class="tab-pane active">
                                            {% if form_profile.errors %}
                                            {{ form_profile.errorlist }}
                                            {% endif %}
                                            <form method="post" novalidate>
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label class="mb-1 fw-bold">Full Name</label>
                                                                    {% render_field form_profile.fullname|attr:"autofocus" class+="form-control mb-2" type="text" name="fullname" placeholder="fullname" %}
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label class="mb-1 fw-bold">Username</label>
                                                                    {% render_field form_profile.username class+="form-control mb-2" type="text" name="username" placeholder="username" %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label class="mb-1 fw-bold">Email</label>
                                                                    {% render_field form_profile.email class+="form-control mb-2" type="email" name="email" placeholder="user@example.com" %}
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label class="mb-1 fw-bold">Phone Number</label>
                                                                    {% render_field form_profile.phoneNumber class+="form-control mb-2" type="tel" name="phoneNumber" placeholder="+33.." %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label class="mb-1 fw-bold">Address</label>
                                                                    {% render_field form_profile.postalAddress class+="form-control mb-2" type="text" name="postalAddress" placeholder="Noelle Adams 6351 Fringilla Avenue Gardena Colorado 37547 (559) 104-5475" %}
                                                                </div>
                                                            </div>
                                                        </div
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label class="mb-1 fw-bold">About</label>
                                                                    {% render_field form_profile.bio class+="form-control mb-2" type="text" name="bio" placeholder="My bio" rows="5" %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <div class="row">
                                                <div class="col d-flex justify-content-center">
                                                    <button class="btn btn-primary" type="submit" name="updateUserProfile">Save Changes</button>
                                                </div>
                                            </div>
                                            </form>
                                            <form method="post">
                                                {% if form.errors %}
                                                {{ form.errors }}
                                                {% endif %}
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-12 col-sm-6 mb-3">
                                                        <div class="mb-2"><b>Change Password</b></div>
                                                        <label class="mb-1 fw-italic">Old Password</label>
                                                        {% render_field form_password.old_password class+="form-control mb-2" type="password" name="password" placeholder="Old Password" %}
                                                        <label class="mb-1 fw-italic">New Password</label>
                                                        {% render_field form_password.new_password1 class+="form-control mb-2" type="password" name="password" placeholder="New Password" %}
                                                        <div class="helptext">
                                                            <ul>
                                                                <li>Your password can’t be too similar to your other personal information.</li>
                                                                <li>Your password must contain at least 8 characters.</li>
                                                                <li>Your password must contain at least one upper or lower case letter.</li>
                                                                <li>Your password must contain at least one number.</li>
                                                                <li>Your password can’t be a commonly used password.</li>
                                                                <li>Your password can’t be entirely numeric.</li>
                                                            </ul>
                                                        </div>
                                                        <label class="mb-1 fw-italic">New Password Confirmation</label>
                                                        {% render_field form_password.new_password2 class+="form-control mb-2" type="password" name="password" placeholder="New Password Confirmation" %}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col d-flex justify-content-start">
                                                        <button class="btn btn-primary" type="submit" name="setNewPassword">Set New Password</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
