{% extends 'authentication/base.html' %}


{% block content %}

<style>
    #mentions_legals {
        border: 1px solid black;
        font-size: large;
        background-color: rgb(232, 167, 93, 0.30);
    }

    #mentions_title {
        padding-bottom: 30px;
    }

    [name="list"] {
        padding-left: 50px;
    }
</style>

<div class="row p-5" id="mentions_legals">
    <div class="col-12">
        <h1 id="mentions_title">Legal notice for the web platform</h1>
        <p>
            This <span style="font-weight: bold;">legal notice</span> template groups together the information that a
            web
            platform must make available to its users.
        </p>
        <p>
            <span style="font-weight: bold;">What are the legal notices on a web platform?</span><br>

            This information is required by law for all web platforms. It must be accessible on
            a dedicated
            page and mainly includes information and contact details for <span style="font-weight: bold;">the
                publisher</span> and <span style="font-weight: bold;">the host</span> of the web platform.<br>

            Good to know: for <span style="font-weight: bold;">non-professional web platforms</span>, only the
            information
            is mandatory.
        </p>
        <p>
            <span style="text-decoration: underline;">Publisher information</span><br>

            The publisher is the <span style="font-weight: bold;">owner of the web platform</span>. It is the one who operates
            and
            controls the
            content of the web platform and assumes responsibility for it. The legal notice must indicate:<br>

            For an <span style="font-weight: bold;">individual</span> (sole proprietorship,
            self-employed):<br>
        <ul name="list">
            <li>Name, first name, address, phone number, and email;</li>
            <li>In case of registration with the Trade and Companies Register (RCS) or the Directory of Trades (RM), the
                registration number.</li>
        </ul>
        For a <span style="font-weight: bold;">legal entity</span> (company or association):<br>
        <ul name="list">
            <li>The official name, registered office address, phone number, and email;</li>
            <li>For companies registered with the RCS or RM, the registration number and share capital;</li>
            <li>The name of the <span style="font-weight: bold;">publication director</span>, i.e., the person
                who assumes
                criminal responsibility for everything published on the web platform. In principle, this is the legal
                representative (director) of the company or
                association.</li>
        </ul>
        Special cases:<br>
        <ul name="list">
            <li>For <span style="font-weight: bold;">VAT-registered activities</span>: the intra-community VAT number;
            </li>
            <li>For <span style="font-weight: bold;">activities subject to administrative authorization</span>: the
                name and
                address of the authority that issued the authorization;</li>
            <li>For <span style="font-weight: bold;">regulated professions</span>: reference to applicable professional
                rules, professional title, the country in which it was issued, and the name of the professional order or
                organization.</li>
        </ul>
        </p>
        <p>
            <span style="text-decoration: underline;">Host Information</span><br>

            The host is the <span style="font-weight: bold;">service provider</span> responsible for hosting the web platform
            and making it
            accessible online. The legal notice must indicate:<br>
        <ul name="list">
            <li>Its name or corporate name;</li>
            <li>Its address and phone number.</li>
        </ul>
        </p>
        <p>
            <span style="text-decoration: underline;">Other Information</span><br>

            The legal notice serves to remind users that the web platform and its content are <span
                style="font-weight: bold;">protected by intellectual property law</span>, primarily <span
                style="font-weight: bold;">copyright law</span>.<br>

            The legal notice page may also contain <span style="font-weight: bold;">information on the collection of
                personal data</span> of
            users, as required by the <span style="font-weight: bold;">General Data Protection Regulation (GDPR)</span>.
            However, it is generally
            recommended to consolidate this information on a dedicated page: we offer a Privacy Policy template for this
            purpose.<br>

            Good to know: in addition to the legal notice, <span style="font-weight: bold;">e-commerce web platforms</span>
            must publish
            <span style="font-weight: bold;">general terms and conditions of sale (GTC)</span>. We offer a web platform
            General Terms and
            Conditions (TOS/GTC) template for this purpose.<br><br>


            <span style="font-weight: bold;">How to use this document?</span><br>

            Once completed, the legal notices must be <span style="font-weight: bold;">published and accessible on
                a dedicated page</span> (usually through
            a link at the top or bottom of the homepage).<br><br>


            <span style="font-weight: bold;">Applicable Law</span><br>

            <a href="" style="color: black;">Regulation (EU) 2016/679 (GDPR)<br>

                Law No. 2004-575 of June 21, 2004, for confidence in the digital economy<br>

                Law No. 78-17 of January 6, 1978, relating to data processing, files, and freedoms</a><br><br>


            <span style="font-weight: bold;">Legal Assistance</span><br>

            You may choose to <span style="font-weight: bold;">consult with a lawyer if you need assistance</span>.<br>

            The lawyer can answer your questions or assist you in your procedures. This option will be offered to you at
            the end
            of
            the
            document.<br><br>


            <span style="font-weight: bold;">How to Modify the Template?</span><br>

            You fill out a form. The document is written before your eyes as you answer.

            At the end, you will receive it in <span style="font-weight: bold;">Word and PDF formats</span>. You can
            <span style="font-weight: bold;">edit</span> and <span style="font-weight: bold;">reuse</span> it.
        </p>
    </div>
</div>

{% endblock %}