{% extends 'authentication/base.html' %}

{% block content %}

<style>
    [name="toolCard"] {
        transition: transform 0.4s;
    }

    [name="toolCard"]:hover {
        cursor: pointer;
        transform: scale(1.04);
    }
    .gradient-custom-card {
        /* fallback for old browsers */
        background: #E0DABC;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to bottom, #CED4DA, #F4EDE1);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to bottom, #CED4DA, #F4EDE1)
    }
    .gradient-custom {
        /* fallback for old browsers */
        background: #CDBDA5;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #A2B4B5, #CDBDA5, #032331);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #A2B4B5, #CDBDA5, #032331)
    }
</style>

<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">News Feed</h1>
            <p class="lead fw-normal text-white-50 mb-0">Find what you need for your job site</p>
        </div>
    </div>
</header>
<div class="gradient-custom">
    <div class="d-flex flex-row">
        <!-- Table -->
        <div class="col-2 py-5 px-2">
            <table class="table table-sm table-borderless table-active caption-top shadow"
                style="position: sticky; top: 1px;">
                <!-- Table body -->
                <tbody>
                    <caption style="margin-left: 10px; color: black;">Filter by :</caption>
                    <tr>
                        <th>Alphabetic</th>
                    </tr>
                    <tr>
                        <td>
                            <!-- Default unchecked -->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefaultA"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">From A to Z</label>
                            </div>
                            <!-- Default unchecked -->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefaultA"
                                    id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">From Z to A</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Categories</th>
                    </tr>
                    <tr>
                        <td>
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                style="max-width: 200px;">
                                <option selected>Open this select menu</option>
                                <option value="1">Carpentry work</option>
                                <option value="2">Secondary work</option>
                                <option value="3">Finishing work</option>
                                <option value="4">Motoculture maintenance</option>
                                <option value="5">Green space maintenance</option>
                                <option value="6">Equipment</option>
                                <option value="7">Other</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Availability</th>
                    </tr>
                    <tr>
                        <td>
                            <!-- Default checked -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="flexCheckDefaultB" value=""
                                    id="flexCheckDefault3" checked>
                                <label class="form-check-label" for="flexCheckDefault3">Available</label>
                            </div>
                            <!-- Default unchecked -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="flexCheckDefaultB" value=""
                                    id="flexCheckChecked4">
                                <label class="form-check-label" for="flexCheckChecked4">Unavailable</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Location</th>
                    </tr>
                    <tr>
                        <td>
                            <!-- Default checked -->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefaultB" id="flexRadioDefault3"
                                    checked>
                                <label class="form-check-label" for="flexRadioDefault3">From near to far</label>
                            </div>
                            <!-- Default unchecked -->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefaultB"
                                    id="flexRadioDefault4">
                                <label class="form-check-label" for="flexRadioDefault4">From far to near</label>
                            </div>
                        </td>
                    <tr>
                        <th>Availability start date</th>
                    </tr>
                    <tr>
                        <td>
                            <!-- Default checked -->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefaultC" id="flexRadioDefault5"
                                    checked>
                                <label class="form-check-label" for="flexRadioDefault5">From earliest to latest</label>
                            </div>
                            <!-- Default unchecked -->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefaultC"
                                    id="flexRadioDefault6">
                                <label class="form-check-label" for="flexRadioDefault6">From latest to earliest</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Availability end date</th>
                    </tr>
                    <tr>
                        <td>
                            <!-- Default unchecked -->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefaultD"
                                    id="flexRadioDefault7">
                                <label class="form-check-label" for="flexRadioDefault7">From earliest to latest</label>
                            </div>
                            <!-- Default unchecked -->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefaultD"
                                    id="flexRadioDefault8">
                                <label class="form-check-label" for="flexRadioDefault8">From latest to earliest</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Deposit</th>
                    </tr>
                    <tr>
                        <td>
                            <!-- Default checked -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="flexCheckDefaultA" value=""
                                    id="flexCheckDefault1" checked>
                                <label class="form-check-label" for="flexCheckDefault1">Yes</label>
                            </div>
                            <!-- Default unchecked -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="flexCheckDefaultA" value=""
                                    id="flexCheckChecked2">
                                <label class="form-check-label" for="flexCheckChecked2">No</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <!-- Table body -->
            </table>
        </div>
        <!-- Table -->
        {% if tools|length != 0 %}
        <!-- Section -->
        <section class="col-10 py-5">
            <div class="text-center">
                {% for message in messages %}
                {% if 'success' in message.tags %}
                <div class="d-inline-flex alert alert-success alert-dismissible fade show mt-1 ms-1 p-2 pe-3" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                        style="position: relative; left: 6px; font-size: smaller;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif 'info' in message.tags %}
                <div class="d-inline-flex alert alert-warning alert-dismissible fade show mt-1 ms-1 p-2 pe-3" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                        style="position: relative; left: 5px; font-size: smaller;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif 'warning' in message.tags %}
                <div class="d-inline-flex alert alert-danger alert-dismissible fade show mt-1 ms-1 p-2 pe-3" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                        style="position: relative; left: 5px; font-size: smaller;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row ps-4 ps-md-0 gx-4 gx-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
                {% if tools|length >= 4 %}
                    {% for tool in tools %}
                    <div class="col col-sm-6 col-md-4 col-xl-3 mb-5" name="toolCard">
                        <div class="card gradient-custom-card h-100 shadow">
                            <!-- Available/Unavailable badge -->
                            {% if tool.availabality == True %}
                            <div class="badge bg-success text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Available</div>
                            {% else %}
                            <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Unavailable</div>
                            {% endif %}
                            <!-- Tool image -->
                            <img class="card-img-top border-bottom p-3" src="{{ tool.image.url }}" alt="..."
                                style="height: 200px; width: auto;" />
                            <!-- Tool details -->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Tool name -->
                                    <h5 class="fw-bolder">{{ tool.name }}</h5>
                                    <!-- Tool reviews -->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi bi-star-fill"></div>
                                        <div class="bi bi-star-fill"></div>
                                        <div class="bi bi-star-fill"></div>
                                        <div class="bi bi-star-fill"></div>
                                        <div class="bi bi-star-fill"></div>
                                    </div>
                                    <!-- Tool disponibility -->
                                    <h6 class="fst-italic mt-3">Availability</h6>
                                        {{ tool.availabalityStart }}<br>
                                        -----<br>
                                        {{ tool.availabalityEnd }}
                                        <!-- Tool location -->
                                    <h6 class="fst-italic mt-2">Location</h6>
                                        {{ tool.location }}
                                </div>
                            </div>
                            <!-- Tool actions -->
                            <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
                                <form method="post" role="form" novalidate>
                                    {% csrf_token %}
                                    <div class="text-center">
                                        <button class="btn btn-outline-warning" type="submit" name="toolDetails" value="{{ tool.id }}">View details<i
                                                class="bi bi-gear ms-2"></i>
                                        </button>
                                        {% if tool.author.username != request.user.username and tool.match == False %}
                                        <button class="btn btn-outline-danger mt-2" type="submit" name="addTool" value="{{ tool.id }}" onclick="addRequest()">Add to bag<i
                                                class="bi bi-heart ms-2"></i>
                                        </button>
                                        {% elif tool.author.username != request.user.username and tool.match == True %}
                                        <button class="btn btn-danger mt-2" type="submit" name="removeTool" value="{{ tool.id }}">Remove from bag<i
                                                class="bi bi-x-octagon ms-2"></i>
                                        </button>
                                        {% elif tool.author.username == request.user.username %}
                                        <button class="btn btn-danger mt-2" type="submit" name="supprTool" value="{{ tool.id }}">Remove from personal
                                            tools<i class="bi bi-x-octagon ms-2"></i>
                                        </button>
                                        {% endif %}
                                    </div>
                                    <!-- Tool deposit -->
                                    {% if tool.deposit == True %}
                                    <h6 class="mt-4">He has a deposit</h6>
                                    {% else %}
                                    <h6 class="mt-4">There is no deposit</h6>
                                    {% endif %}
                                    <!-- Tool publisher -->
                                    <h6 class="mt-3 fw-bolder">Published by :
                                        {% if tool.author.username != request.user.username %}
                                        <button type="submit" name="authorProfile" value="{{ tool.author.id }}" class="btn btn-link" 
                                            style="text-decoration: none; padding: 0; margin: 0; position: relative; bottom: 2px;">{{ tool.author }}
                                        </button>
                                        {% else %}
                                        <button type="submit" name="authorProfile" value="{{ tool.author.id }}" class="btn btn-link"
                                            style="text-decoration: none; padding: 0; margin: 0; position: relative; bottom: 2px;">You
                                        </button>
                                        {% endif %}
                                    </h6>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% elif tools|length == 3 %}
                    {% for tool in tools %}
                    <div class="col col-sm-6 col-md-4 col-xl-3 mb-5" name="toolCard">
                        <div class="card gradient-custom-card h-100 shadow">
                            <!-- Available/Unavailable badge -->
                            {% if tool.availabality == True %}
                            <div class="badge bg-success text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Available</div>
                            {% else %}
                            <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Unavailable</div>
                            {% endif %}
                            <!-- Tool image -->
                            <img class="card-img-top border-bottom p-3" src="{{ tool.image.url }}" alt="..."
                                style="height: 200px; width: auto;" />
                            <!-- Tool details -->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Tool name -->
                                    <h5 class="fw-bolder">{{ tool.name }}</h5>
                                    <!-- Tool reviews -->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi bi-star-fill"></div>
                                        <div class="bi bi-star-fill"></div>
                                        <div class="bi bi-star-fill"></div>
                                        <div class="bi bi-star-fill"></div>
                                        <div class="bi bi-star-fill"></div>
                                    </div>
                                    <!-- Tool disponibility -->
                                    <h6 class="fst-italic mt-3">Availability</h6>
                                        {{ tool.availabalityStart }}<br>
                                        -----<br>
                                        {{ tool.availabalityEnd }}
                                        <!-- Tool location -->
                                    <h6 class="fst-italic mt-2">Location</h6>
                                        {{ tool.location }}
                                </div>
                            </div>
                            <!-- Tool actions -->
                            <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
                                <form method="post" role="form" novalidate>
                                    {% csrf_token %}
                                    <div class="text-center">
                                        <button class="btn btn-outline-warning" type="submit" name="toolDetails" value="{{ tool.id }}">View details<i
                                                class="bi bi-gear ms-2"></i>
                                        </button>
                                        {% if tool.author.username != request.user.username and tool.match == False %}
                                        <button class="btn btn-outline-danger mt-2" type="submit" name="addTool" value="{{ tool.id }}">Add to bag<i
                                                class="bi bi-heart ms-2"></i>
                                        </button>
                                        {% elif tool.author.username != request.user.username and tool.match == True %}
                                        <button class="btn btn-danger mt-2" type="submit" name="removeTool" value="{{ tool.id }}">Remove from bag<i
                                                class="bi bi-x-octagon ms-2"></i>
                                        </button>
                                        {% elif tool.author.username == request.user.username %}
                                        <button class="btn btn-danger mt-2" type="submit" name="supprTool" value="{{ tool.id }}">Remove from personal
                                            tools<i class="bi bi-x-octagon ms-2"></i>
                                        </button>
                                        {% endif %}
                                    </div>
                                    <!-- Tool deposit -->
                                    {% if tool.deposit == True %}
                                    <h6 class="mt-4">He has a deposit</h6>
                                    {% else %}
                                    <h6 class="mt-4">There is no deposit</h6>
                                    {% endif %}
                                    <!-- Tool publisher -->
                                    <h6 class="mt-3 fw-bolder">Published by :
                                        {% if tool.author.username != request.user.username %}
                                        <button type="submit" name="authorProfile" value="{{ tool.author.id }}" class="btn btn-link"
                                            style="text-decoration: none; padding: 0; margin: 0; position: relative; bottom: 2px;">{{ tool.author }}
                                        </button>
                                        {% else %}
                                        <button type="submit" name="authorProfile" value="{{ tool.author.id }}" class="btn btn-link"
                                            style="text-decoration: none; padding: 0; margin: 0; position: relative; bottom: 2px;">You
                                        </button>
                                        {% endif %}
                                    </h6>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% elif tools|length == 2 %}
                    {% for tool in tools %}
                    <div class="col col-sm-6 col-md-4 col-xl-3 mb-5" name="toolCard">
                        <div class="card gradient-custom-card h-100 shadow">
                            <!-- Available/Unavailable badge -->
                            {% if tool.availabality == True %}
                            <div class="badge bg-success text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Available</div>
                            {% else %}
                            <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Unavailable</div>
                            {% endif %}
                            <!-- Tool image -->
                            <img class="card-img-top border-bottom p-3" src="{{ tool.image.url }}" alt="..."
                                style="height: 200px; width: auto;" />
                            <!-- Tool details -->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Tool name -->
                                    <h5 class="fw-bolder">{{ tool.name }}</h5>
                                    <!-- Tool reviews -->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi bi-star-fill"></div>
                                        <div class="bi bi-star-fill"></div>
                                        <div class="bi bi-star-fill"></div>
                                        <div class="bi bi-star-fill"></div>
                                        <div class="bi bi-star-fill"></div>
                                    </div>
                                    <!-- Tool disponibility -->
                                    <h6 class="fst-italic mt-3">Availability</h6>
                                        {{ tool.availabalityStart }}<br>
                                        -----<br>
                                        {{ tool.availabalityEnd }}
                                        <!-- Tool location -->
                                    <h6 class="fst-italic mt-2">Location</h6>
                                        {{ tool.location }}
                                </div>
                            </div>
                            <!-- Tool actions -->
                            <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
                                <form method="post" role="form" novalidate>
                                    {% csrf_token %}
                                    <div class="text-center">
                                        <button class="btn btn-outline-warning" type="submit" name="toolDetails" value="{{ tool.id }}">View details<i
                                                class="bi bi-gear ms-2"></i>
                                        </button>
                                        {% if tool.author.username != request.user.username and tool.match == False %}
                                        <button class="btn btn-outline-danger mt-2" type="submit" name="addTool" value="{{ tool.id }}">Add to bag<i
                                                class="bi bi-heart ms-2"></i>
                                        </button>
                                        {% elif tool.author.username != request.user.username and tool.match == True %}
                                        <button class="btn btn-danger mt-2" type="submit" name="removeTool" value="{{ tool.id }}">Remove from bag<i
                                                class="bi bi-x-octagon ms-2"></i>
                                        </button>
                                        {% elif tool.author.username == request.user.username %}
                                        <button class="btn btn-danger mt-2" type="submit" name="supprTool" value="{{ tool.id }}">Remove from personal
                                            tools<i class="bi bi-x-octagon ms-2"></i>
                                        </button>
                                        {% endif %}
                                    </div>
                                    <!-- Tool deposit -->
                                    {% if tool.deposit == True %}
                                    <h6 class="mt-4">He has a deposit</h6>
                                    {% else %}
                                    <h6 class="mt-4">There is no deposit</h6>
                                    {% endif %}
                                    <!-- Tool publisher -->
                                    <h6 class="mt-3 fw-bolder">Published by :
                                        {% if tool.author.username != request.user.username %}
                                        <button type="submit" name="authorProfile" value="{{ tool.author.id }}" class="btn btn-link"
                                            style="text-decoration: none; padding: 0; margin: 0; position: relative; bottom: 2px;">{{ tool.author }}
                                        </button>
                                        {% else %}
                                        <button type="submit" name="authorProfile" value="{{ tool.author.id }}" class="btn btn-link"
                                            style="text-decoration: none; padding: 0; margin: 0; position: relative; bottom: 2px;">You
                                        </button>
                                        {% endif %}
                                    </h6>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    {% for tool in tools %}
                    <div class="col col-sm-6 col-md-4 col-xl-3 mb-5" name="toolCard">
                        <div class="card gradient-custom-card h-100 shadow">
                            <!-- Available/Unavailable badge -->
                            {% if tool.availabality == True %}
                            <div class="badge bg-success text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Available</div>
                            {% else %}
                            <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Unavailable</div>
                            {% endif %}
                            <!-- Tool image -->
                            <img class="card-img-top border-bottom p-3" src="{{ tool.image.url }}" alt="..."
                                style="height: 200px; width: auto;" />
                            <!-- Tool details -->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Tool name -->
                                    <h5 class="fw-bolder">{{ tool.name }}</h5>
                                    <!-- Tool reviews -->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi bi-star-fill"></div>
                                        <div class="bi bi-star-fill"></div>
                                        <div class="bi bi-star-fill"></div>
                                        <div class="bi bi-star-fill"></div>
                                        <div class="bi bi-star-fill"></div>
                                    </div>
                                    <!-- Tool disponibility -->
                                    <h6 class="fst-italic mt-3">Availability</h6>
                                        {{ tool.availabalityStart }}<br>
                                        -----<br>
                                        {{ tool.availabalityEnd }}
                                        <!-- Tool location -->
                                    <h6 class="fst-italic mt-2">Location</h6>
                                        {{ tool.location }}
                                </div>
                            </div>
                            <!-- Tool actions -->
                            <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
                                <form method="post" role="form" novalidate>
                                    {% csrf_token %}
                                    <div class="text-center">
                                        <button class="btn btn-outline-warning" type="submit" name="toolDetails" value="{{ tool.id }}">View details<i
                                                class="bi bi-gear ms-2"></i>
                                        </button>
                                        {% if tool.author.username != request.user.username and tool.match == False %}
                                        <button class="btn btn-outline-danger mt-2" type="submit" name="addTool" value="{{ tool.id }}">Add to bag<i
                                                class="bi bi-heart ms-2"></i>
                                        </button>
                                        {% elif tool.author.username != request.user.username and tool.match == True %}
                                        <button class="btn btn-danger mt-2" type="submit" name="removeTool" value="{{ tool.id }}">Remove from bag<i
                                                class="bi bi-x-octagon ms-2"></i>
                                        </button>
                                        {% elif tool.author.username == request.user.username %}
                                        <button class="btn btn-danger mt-2" type="submit" name="supprTool" value="{{ tool.id }}">Remove from personal
                                            tools<i class="bi bi-x-octagon ms-2"></i>
                                        </button>
                                        {% endif %}
                                    </div>
                                    <!-- Tool deposit -->
                                    {% if tool.deposit == True %}
                                    <h6 class="mt-4">He has a deposit</h6>
                                    {% else %}
                                    <h6 class="mt-4">There is no deposit</h6>
                                    {% endif %}
                                    <!-- Tool publisher -->
                                    <h6 class="mt-3 fw-bolder">Published by :
                                        {% if tool.author.username != request.user.username %}
                                        <button type="submit" name="authorProfile" value="{{ tool.author.id }}" class="btn btn-link"
                                            style="text-decoration: none; padding: 0; margin: 0; position: relative; bottom: 2px;">{{ tool.author }}
                                        </button>
                                        {% else %}
                                        <button type="submit" name="authorProfile" value="{{ tool.author.id }}" class="btn btn-link"
                                            style="text-decoration: none; padding: 0; margin: 0; position: relative; bottom: 2px;">You
                                        </button>
                                        {% endif %}
                                    </h6>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
            <div class="text-center py-4">
                <button class="btn btn-outline-secondary shadow-sm fw-bolder" type="submit">More</button>
            </div>
        </section>
        <!-- Section -->
        {% else %}
        <div class="col-8 d-flex align-items-center justify-content-center">
            <p class="fs-1 text-muted" style="transform: skewY(-11deg);">There are no tools</p>
        </div>
        {% endif %}
    </div>
</div>

<script src="/static/js/alert.js"></script>
<!--<script src="/static/js/researchPost.js"></script>-->

{% endblock content %}
