{% if tools|length >= 4 %}
{% for tool in tools %}
<div class="col col-sm-6 col-md-4 col-xl-3 mb-5" name="toolCard">
    <div class="card gradient-custom-card h-100 shadow">
        <!-- Available/Unavailable badge -->
        {% if tool.availabality == True and tool.onContract == False %}
        <div class="badge bg-success text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
            Available</div>
        {% elif tool.availabality == False and tool.onContract == False %}
        <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
            Unavailable</div>
        {% elif tool.onContract == True %}
        <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
            On Contract</div>
        {% endif %}
        <!-- Tool image -->
        <img class="card-img-top border-bottom p-3" src="{{ tool.image.url }}" alt="..."
            style="height: 200px; width: auto;" />
        <!-- Tool details -->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Tool name -->
                <h5 class="fw-bolder">{{ tool.name }}</h5>
                <!-- Tool reviews -->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi bi-star-fill"></div>
                    <div class="bi bi-star-fill"></div>
                    <div class="bi bi-star-fill"></div>
                    <div class="bi bi-star-fill"></div>
                    <div class="bi bi-star-fill"></div>
                </div>
                <!-- Tool disponibility -->
                <h6 class="fst-italic mt-3">Availability</h6>
                {{ tool.availabalityStart }}<br>
                -----<br>
                {{ tool.availabalityEnd }}
                <!-- Tool location -->
                <h6 class="fst-italic mt-2">Location</h6>
                {{ tool.location }}
            </div>
        </div>
        <!-- Tool actions -->
        <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
            <form method="post" role="form" novalidate>
                {% csrf_token %}
                <div class="text-center">
                    <button class="btn btn-outline-warning" type="submit" name="toolDetails" value="{{ tool.id }}"
                        id="viewDetails">View details<i class="bi bi-gear ms-2"></i>
                    </button>
                    {% if tool.author.username != request.user.username and tool.match == False %}
                    <button class="btn btn-outline-danger mt-2" type="submit" name="addTool" value="{{ tool.id }}"
                        id="addTool">Add to your Bag<i class="bi bi-heart ms-2"></i>
                    </button>
                    {% elif tool.author.username != request.user.username and tool.match == True %}
                    <button class="btn btn-danger mt-2" type="submit" name="removeTool" value="{{ tool.id }}">Remove
                        from your Bag<i class="bi bi-x-octagon ms-2"></i>
                    </button>
                    {% elif tool.author.username == request.user.username %}
                    <button class="btn btn-danger mt-2" type="submit" name="supprTool" value="{{ tool.id }}">Remove from
                        your<br>Personal
                        Tools<i class="bi bi-x-octagon ms-2"></i>
                    </button>
                    {% endif %}
                </div>
                <!-- Tool deposit -->
                {% if tool.deposit == True %}
                <h6 class="mt-4">He has a deposit</h6>
                {% else %}
                <h6 class="mt-4">There is no deposit</h6>
                {% endif %}
                <!-- Tool publisher -->
                <h6 class="mt-3 fw-bolder">Published by :
                    {% if tool.author.username != request.user.username %}
                    <button type="submit" name="authorProfile" value="{{ tool.author.id }}" class="btn btn-link"
                        style="text-decoration: none; padding: 0; margin: 0; position: relative; bottom: 2px;">{{ tool.author }}
                    </button>
                    {% else %}
                    <button type="submit" name="authorProfile" value="{{ tool.author.id }}" class="btn btn-link"
                        style="text-decoration: none; padding: 0; margin: 0; position: relative; bottom: 2px;">You
                    </button>
                    {% endif %}
                </h6>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% elif tools|length == 3 %}
{% for tool in tools %}
<div class="col col-sm-6 col-md-4 col-xl-3 mb-5" name="toolCard">
    <div class="card gradient-custom-card h-100 shadow">
        <!-- Available/Unavailable badge -->
        {% if tool.availabality == True and tool.onContract == False %}
        <div class="badge bg-success text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
            Available</div>
        {% elif tool.availabality == False and tool.onContract == False %}
        <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
            Unavailable</div>
        {% elif tool.onContract == True %}
        <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
            On Contract</div>
        {% endif %}
        <!-- Tool image -->
        <img class="card-img-top border-bottom p-3" src="{{ tool.image.url }}" alt="..."
            style="height: 200px; width: auto;" />
        <!-- Tool details -->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Tool name -->
                <h5 class="fw-bolder">{{ tool.name }}</h5>
                <!-- Tool reviews -->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi bi-star-fill"></div>
                    <div class="bi bi-star-fill"></div>
                    <div class="bi bi-star-fill"></div>
                    <div class="bi bi-star-fill"></div>
                    <div class="bi bi-star-fill"></div>
                </div>
                <!-- Tool disponibility -->
                <h6 class="fst-italic mt-3">Availability</h6>
                {{ tool.availabalityStart }}<br>
                -----<br>
                {{ tool.availabalityEnd }}
                <!-- Tool location -->
                <h6 class="fst-italic mt-2">Location</h6>
                {{ tool.location }}
            </div>
        </div>
        <!-- Tool actions -->
        <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
            <form method="post" role="form" novalidate>
                {% csrf_token %}
                <div class="text-center">
                    <button class="btn btn-outline-warning" type="submit" name="toolDetails" value="{{ tool.id }}">View
                        details<i class="bi bi-gear ms-2"></i>
                    </button>
                    {% if tool.author.username != request.user.username and tool.match == False %}
                    <button class="btn btn-outline-danger mt-2" type="submit" name="addTool" value="{{ tool.id }}">Add
                        to your Bag<i class="bi bi-heart ms-2"></i>
                    </button>
                    {% elif tool.author.username != request.user.username and tool.match == True %}
                    <button class="btn btn-danger mt-2" type="submit" name="removeTool" value="{{ tool.id }}">Remove
                        from your Bag<i class="bi bi-x-octagon ms-2"></i>
                    </button>
                    {% elif tool.author.username == request.user.username %}
                    <button class="btn btn-danger mt-2" type="submit" name="supprTool" value="{{ tool.id }}">Remove from
                        your<br>Personal
                        Tools<i class="bi bi-x-octagon ms-2"></i>
                    </button>
                    {% endif %}
                </div>
                <!-- Tool deposit -->
                {% if tool.deposit == True %}
                <h6 class="mt-4">He has a deposit</h6>
                {% else %}
                <h6 class="mt-4">There is no deposit</h6>
                {% endif %}
                <!-- Tool publisher -->
                <h6 class="mt-3 fw-bolder">Published by :
                    {% if tool.author.username != request.user.username %}
                    <button type="submit" name="authorProfile" value="{{ tool.author.id }}" class="btn btn-link"
                        style="text-decoration: none; padding: 0; margin: 0; position: relative; bottom: 2px;">{{ tool.author }}
                    </button>
                    {% else %}
                    <button type="submit" name="authorProfile" value="{{ tool.author.id }}" class="btn btn-link"
                        style="text-decoration: none; padding: 0; margin: 0; position: relative; bottom: 2px;">You
                    </button>
                    {% endif %}
                </h6>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% elif tools|length == 2 %}
{% for tool in tools %}
<div class="col col-sm-6 col-md-4 col-xl-3 mb-5" name="toolCard">
    <div class="card gradient-custom-card h-100 shadow">
        <!-- Available/Unavailable badge -->
        {% if tool.availabality == True and tool.onContract == False %}
        <div class="badge bg-success text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
            Available</div>
        {% elif tool.availabality == False and tool.onContract == False %}
        <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
            Unavailable</div>
        {% elif tool.onContract == True %}
        <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
            On Contract</div>
        {% endif %}
        <!-- Tool image -->
        <img class="card-img-top border-bottom p-3" src="{{ tool.image.url }}" alt="..."
            style="height: 200px; width: auto;" />
        <!-- Tool details -->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Tool name -->
                <h5 class="fw-bolder">{{ tool.name }}</h5>
                <!-- Tool reviews -->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi bi-star-fill"></div>
                    <div class="bi bi-star-fill"></div>
                    <div class="bi bi-star-fill"></div>
                    <div class="bi bi-star-fill"></div>
                    <div class="bi bi-star-fill"></div>
                </div>
                <!-- Tool disponibility -->
                <h6 class="fst-italic mt-3">Availability</h6>
                {{ tool.availabalityStart }}<br>
                -----<br>
                {{ tool.availabalityEnd }}
                <!-- Tool location -->
                <h6 class="fst-italic mt-2">Location</h6>
                {{ tool.location }}
            </div>
        </div>
        <!-- Tool actions -->
        <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
            <form method="post" role="form" novalidate>
                {% csrf_token %}
                <div class="text-center">
                    <button class="btn btn-outline-warning" type="submit" name="toolDetails" value="{{ tool.id }}">View
                        details<i class="bi bi-gear ms-2"></i>
                    </button>
                    {% if tool.author.username != request.user.username and tool.match == False %}
                    <button class="btn btn-outline-danger mt-2" type="submit" name="addTool" value="{{ tool.id }}">Add
                        to your Bag<i class="bi bi-heart ms-2"></i>
                    </button>
                    {% elif tool.author.username != request.user.username and tool.match == True %}
                    <button class="btn btn-danger mt-2" type="submit" name="removeTool" value="{{ tool.id }}">Remove
                        from your Bag<i class="bi bi-x-octagon ms-2"></i>
                    </button>
                    {% elif tool.author.username == request.user.username %}
                    <button class="btn btn-danger mt-2" type="submit" name="supprTool" value="{{ tool.id }}">Remove from
                        your<br>Personal
                        Tools<i class="bi bi-x-octagon ms-2"></i>
                    </button>
                    {% endif %}
                </div>
                <!-- Tool deposit -->
                {% if tool.deposit == True %}
                <h6 class="mt-4">He has a deposit</h6>
                {% else %}
                <h6 class="mt-4">There is no deposit</h6>
                {% endif %}
                <!-- Tool publisher -->
                <h6 class="mt-3 fw-bolder">Published by :
                    {% if tool.author.username != request.user.username %}
                    <button type="submit" name="authorProfile" value="{{ tool.author.id }}" class="btn btn-link"
                        style="text-decoration: none; padding: 0; margin: 0; position: relative; bottom: 2px;">{{ tool.author }}
                    </button>
                    {% else %}
                    <button type="submit" name="authorProfile" value="{{ tool.author.id }}" class="btn btn-link"
                        style="text-decoration: none; padding: 0; margin: 0; position: relative; bottom: 2px;">You
                    </button>
                    {% endif %}
                </h6>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
{% for tool in tools %}
<div class="col col-sm-6 col-md-4 col-xl-3 mb-5" name="toolCard">
    <div class="card gradient-custom-card h-100 shadow">
        <!-- Available/Unavailable badge -->
        {% if tool.availabality == True and tool.onContract == False %}
        <div class="badge bg-success text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
            Available</div>
        {% elif tool.availabality == False and tool.onContract == False %}
        <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
            Unavailable</div>
        {% elif tool.onContract == True %}
        <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
            On Contract</div>
        {% endif %}
        <!-- Tool image -->
        <img class="card-img-top border-bottom p-3" src="{{ tool.image.url }}" alt="..."
            style="height: 200px; width: auto;" />
        <!-- Tool details -->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Tool name -->
                <h5 class="fw-bolder">{{ tool.name }}</h5>
                <!-- Tool reviews -->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi bi-star-fill"></div>
                    <div class="bi bi-star-fill"></div>
                    <div class="bi bi-star-fill"></div>
                    <div class="bi bi-star-fill"></div>
                    <div class="bi bi-star-fill"></div>
                </div>
                <!-- Tool disponibility -->
                <h6 class="fst-italic mt-3">Availability</h6>
                {{ tool.availabalityStart }}<br>
                -----<br>
                {{ tool.availabalityEnd }}
                <!-- Tool location -->
                <h6 class="fst-italic mt-2">Location</h6>
                {{ tool.location }}
            </div>
        </div>
        <!-- Tool actions -->
        <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
            <form method="post" role="form" novalidate>
                {% csrf_token %}
                <div class="text-center">
                    <button class="btn btn-outline-warning" type="submit" name="toolDetails" value="{{ tool.id }}">View
                        details<i class="bi bi-gear ms-2"></i>
                    </button>
                    {% if tool.author.username != request.user.username and tool.match == False %}
                    <button class="btn btn-outline-danger mt-2" type="submit" name="addTool" value="{{ tool.id }}">Add
                        to your Bag<i class="bi bi-heart ms-2"></i>
                    </button>
                    {% elif tool.author.username != request.user.username and tool.match == True %}
                    <button class="btn btn-danger mt-2" type="submit" name="removeTool" value="{{ tool.id }}">Remove
                        from your Bag<i class="bi bi-x-octagon ms-2"></i>
                    </button>
                    {% elif tool.author.username == request.user.username %}
                    <button class="btn btn-danger mt-2" type="submit" name="supprTool" value="{{ tool.id }}">Remove from
                        your<br>Personal
                        Tools<i class="bi bi-x-octagon ms-2"></i>
                    </button>
                    {% endif %}
                </div>
                <!-- Tool deposit -->
                {% if tool.deposit == True %}
                <h6 class="mt-4">He has a deposit</h6>
                {% else %}
                <h6 class="mt-4">There is no deposit</h6>
                {% endif %}
                <!-- Tool publisher -->
                <h6 class="mt-3 fw-bolder">Published by :
                    {% if tool.author.username != request.user.username %}
                    <button type="submit" name="authorProfile" value="{{ tool.author.id }}" class="btn btn-link"
                        style="text-decoration: none; padding: 0; margin: 0; position: relative; bottom: 2px;">{{ tool.author }}
                    </button>
                    {% else %}
                    <button type="submit" name="authorProfile" value="{{ tool.author.id }}" class="btn btn-link"
                        style="text-decoration: none; padding: 0; margin: 0; position: relative; bottom: 2px;">You
                    </button>
                    {% endif %}
                </h6>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}